<form #merchantForm="ngForm" ngNativeValidate (ngSubmit)="saveMerchant()">
    <div class="panel panel-primary" *ngIf="merchant">
        <div class="panel-heading">
            <h3 class="panel-title">{{'New Merchant' | translate}}</h3>
            <hr />
        </div>
        <div class="panel-body">
            <!-- <div class="form-group" [class.has-error]="merchantName.invalid && merchantName.touched"
                [class.has-success]="merchantName.valid">
                <label for="merchantName" class="control-label">{{ 'Merchant Name' | translate}}</label>
                <input required id="merchantName" name="merchantName" [(ngModel)]='merchant.merchantName' type="text"
                    class="form-control" #fullName="ngModel" />
                <span class="help-block" *ngIf="merchantName.invalid && merchantName.touched">
                    {{'The full name is a mandatory field' | translate}}
                </span>
            </div> -->
            <!-- <div class="form-group" [class.has-error]="repFullName.invalid && repFullName.touched"
                [class.has-success]="repFullName.valid"> -->
            <div>
                <label for="repFullName" class="control-label">{{ 'Merchant Name' | translate}}</label>
                <input required id="repFullName" name="repFullName" [(ngModel)]='merchant.repFullName' type="text"
                    class="form-control" #fullName="ngModel" />
                <!-- <span class="help-block" *ngIf="repFullName.invalid && repFullName.touched"> -->
                <span class="help-block" *ngIf="merchant.repFullName.invalid  && repFullName.touched">
                    The full name is a mandatory field
                </span>
            </div>
            <div>
                <label for="email" class="control-label">{{ 'Email' | translate}}</label>
                <input id="email" pattern="^[a-zA-Z0-9-.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email"
                    #email="ngModel" [(ngModel)]="merchant.email" type="text" class="form-control" />
                <span class="help-block" *ngIf="email.errors?.required">
                    The email is a mandatory field
                </span>
                <span class="help-block" *ngIf="email.errors?.pattern">
                    The email is invalid
                </span>
            </div>
        </div>
        <!-- fullName: string | null;
            email?: string | null;
            nif?:string | null;
            country?:string | null;
            address1?:string | null;
            address2?:string | null;
            address3?:string | null;
            address4?:string | null;
            phoneNumber?: number | null;
            mobileNumber?: number | null;
            contactPreference: string | null;
            isActive: boolean | null;
            logoPath?: string | null; -->

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="merchantForm.invalid">Save</button>
        </div>
    </div>
</form>