<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading">{{ 'Login' | translate }}</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">{{errorMessage | translate}}</div>
    </div>
    <div>
        <label for="Email" class="sr-only">{{'Email' | translate}}</label>
        <input type="email" id="Email" name="Email" ngModel class="form-control" placeholder="{{'Email' | translate}}" required autofocus>
        <br>
        <label for="password" class="sr-only">{{'Password' | translate}}</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="{{'Password' | translate}}" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{'Login' | translate}}</button>
    </div>
</form>