<!-- <div class="aLog">
    <a href="/register" routerLink="register">{{'Sign Up' | translate}}</a>&nbsp; &nbsp;&nbsp;
</div>
<div class="aLog" *ngIf="!userIsLogged">
    <a href="/mylogin" routerLink="mylogin">{{'Login' | translate}}</a>&nbsp; &nbsp;&nbsp;
</div>
<div class="aLog" *ngIf="userIsLogged">
    <a href="#" (click)="logOut()">{{'LogOff' | translate}}</a>&nbsp; &nbsp;&nbsp;
</div> -->
<!-- <button id="btnLogin" (mouseover)="mouseHover()" (mouseout)="mouseOut()">Login</button>
<div class="LoginDivHide">
    <a>Login</a>
    <a>LogOut</a>
    <a>SignUp</a>
</div> -->

<div class="dropdown">
    <button id="btnLogin" class="navbar-login">
        <span class="glyphicon glyphicon-user"></span>&nbsp;{{emailLogin}}&nbsp;<span class="caret"></span>
         </button>
    <div class="dropdown-content">
        <a *ngIf="!userIsLogged" href="/mylogin" routerLink="mylogin">{{'Login' | translate}}</a>
        <a *ngIf="userIsLogged" href="/myaccount" routerLink="myaccount">{{'My Account' | translate}}</a>
        <a *ngIf="userIsLogged" href="#" (click)="logOut()">{{'LogOff' | translate}}</a>
        <a href="/register" routerLink="register">{{'Sign Up' | translate}}</a>
    </div>
</div>