<div class="dropdown">
    <button id="btnLogin" class="navbar-login">
        <span class="glyphicon glyphicon-user"></span>&nbsp;{{emailLogin}}&nbsp;<span class="caret"></span>
         </button>
    <div class="dropdown-content">
        <a *ngIf="!userIsLogged" href="/mylogin" routerLink="mylogin">{{'Login' | translate}}</a>
        <a *ngIf="userIsLogged" href="/myaccount" routerLink="myaccount">{{'My Account' | translate}}</a>
        <a *ngIf="userIsLogged" href="#" (click)="logOut()">{{'LogOff' | translate}}</a>
        <a href="/register" routerLink="register">{{'Sign Up' | translate}}</a>
    </div>
</div>