.div_aLog {
    padding-top: 15px !important;
}

.aLog {
    display: inline;
    width: auto;
}

.LoginDivHide {
    display: none;
}

.LoginDivShow {
    display: block;
    height: 200px;
    width: 150px;
    background-color: blue;
    border: 1px black solid;
}

.dropbtn {
    background-color: transparent;
    color: rgb(5, 5, 5);
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 35px;
    width: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* position: absolute; */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    position: relative;
    margin-left: -20px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */