.div_aLog {
    padding-top: 15px !important;
}

.aLog {
    display: inline;
    width: auto;
}

.LoginDivHide {
    display: none;
}

.LoginDivShow {
    display: block;
    height: 200px;
    width: 150px;
    background-color: blue;
    border: 1px black solid;
}

.dropbtn {
    background-color: rgb(44, 84, 99);
    /* color: rgb(5, 5, 5); */
    padding: 12px;
    /* font-size: 16px; */
    border: none;
    height: 35px;
    width: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: rgb(44, 84, 99);
}

.navbar-login {
    color: white;
    background-color: rgb(44, 84, 99);
    font-size: small;
    border: 0px transparent;
    height: 25px;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -50px;
    font-size: small;
    /* position: absolute; */
    background-color: rgb(44, 84, 99);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: auto;
}

.dropdown-content a {
    position: relative;
    /* margin-left: -20px; */
    color: white;
    padding: 3px 10px;
    text-decoration: none;
    display: block;
    border: 1px solid white;
}

.dropdown-content a:hover {
    background-color: rgb(97, 127, 138);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
} */