<form #myAccountForm="ngForm" ngNativeValidate (ngSubmit)="saveAccountInfo()">
    <div class="panel panel-primary" *ngIf="accountInfo">
        <div class="panel-heading">
            <h3 class="panel-title">{{ panelTitle | translate}}</h3>
        </div>
        <div *ngIf="updateSuccess" class="alert alert-success box-msg" role="alert">
            <strong>{{'Your changes has been saved!' | translate}}</strong>
            <button (click)="closeUpdateSuccess()" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="panel-body">
            <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched" [class.has-success]="firstName.valid">
                <label for="firstName" class="control-label">{{ 'First Name' | translate}}</label>
                <input required id="firstName" name="firstName" [(ngModel)]='accountInfo.firstName' type="text" class="form-control" #firstName="ngModel" />
                <span class="help-block" *ngIf="firstName.invalid && firstName.touched">
                    {{'First Name' | translate}}
                </span>
            </div>
            <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched" [class.has-success]="lastName.valid">
                <label for="lastName" class="control-label">{{ 'Last Name' | translate}}</label>
                <input required id="lastName" name="lastName" [(ngModel)]='accountInfo.lastName' type="text" class="form-control" #lastName="ngModel" />
                <span class="help-block" *ngIf="lastName.invalid && lastName.touched">
                    {{'Last Name' | translate}}
                </span>
            </div>
            <div class="form-group" [class.has-error]="phoneNumber.invalid && phoneNumber.touched" [class.has-success]="phoneNumber.valid">
                <label for="phoneNumber" class="control-label">{{ 'Phone Number' | translate}}</label>
                <input required id="phoneNumber" name="phoneNumber" [(ngModel)]='accountInfo.phoneNumber' type="text" class="form-control" #phoneNumber="ngModel" />
                <span class="help-block" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                    {{'Phone Number' | translate}}
                </span>
            </div>
            <div class="form-group" name="divCheckBox">
                <label for="isCompany" class="control-label">{{ 'Is the account for a company use or self-employed?' |
                    translate}}</label><br>
                <input class="myCheckbox" (click)="checkClick()" id="isCompany" name="isCompany" [(ngModel)]='accountInfo.isCompany' type="checkbox" #isCompany="ngModel" />
                <div class="well hidden" name="divWell">
                    <div class="alert alert-warning">
                        <span><strong>{{'Attention' | translate}}!</strong></span><span class="pull-right" aria-hidden="true">&times;</span> <br>
                        <span>{{'This operation has no undo, after save operation you will be redirected to configure the company.' | translate}}</span><br>
                        <span>{{'If you are sure that you want configure company account, please save the changes pressing button ' | translate}} <strong>{{'Save' | translate}}!</strong> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <!-- <div>
                <span name="timerSpan">{{counter.min}} : {{counter.sec}}</span>
            </div> -->
            <div class="btn-group btn-group-lg">
                <button type="submit" class="btn btn-primary" [disabled]="myAccountForm.invalid">{{'Save' | translate}}</button>
                <button (click)="CloseForm()" type="button" class="btn btn-primary">{{'Close' | translate}}</button>

            </div>
        </div>
    </div>
</form>
<div>
    <div *ngFor="let company of filteredCompanies">
        <!-- <app-display-employee [company]="company" #childComponent>
        </app-display-employee> -->
    </div>
    <!-- <error-alert *ngIf="errorMsg" [msg]="errorMsg"></error-alert>
    <div *ngIf="error" class="danger">{{error}}</div> -->
</div>

<!-- <div *ngIf="filteredEmployees">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search by Name" [(ngModel)]="searchTerm">
    </div>
 
    <div *ngFor="let employee of filteredEmployees">
         <app-display-employee [employee]="employee" #childComponent [searchTerm]="searchTerm"
            (notifyDelete)="onDeleteNotification($event)">
        </app-display-employee>
    </div>
    <error-alert *ngIf="errorMsg" [msg]="errorMsg"></error-alert>
    <div *ngIf="error" class="danger" >{{error}}</div>
</div> -->

<!-- {{myAccountForm.value | json}} -->