<p>{{'The list of your companies' | translate }}</p>
<div *ngIf="filteredCompanies">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{'Search by Name'|translate}}" [(ngModel)]="searchTerm">
    </div>
    <div *ngIf="deleteSuccess" class="alert alert-success box-msg" role="alert">
        <strong>{{'The company successfully removed!' | translate}}</strong>
        <button (click)="closeUpdateSuccess()" type="button" class="close btn btn-primary" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngFor="let company of filteredCompanies">
        <!-- <app-display-company [company]="company" #childComponent [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)"> -->
        <app-display-company [company]="company" #childComponent [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)">
        </app-display-company>

        <!-- <app-display-employee [employee]="employee" #childComponent [searchTerm]="searchTerm" (notifyDelete)="onDeleteNotification($event)">
        </app-display-employee> -->
    </div>
    <error-alert *ngIf="errorMsg" [msg]="errorMsg"></error-alert>
    <div *ngIf="error" class="danger">{{error}}</div>
</div>